In [ ]:
## for loop

for i in range(0,6):  # This will include numbers: 0,1,2,3,4,5
    print(i)

## If the range starts from 0, you don't need to include that
for i in range(6):
    print(i)  # This will print numbers from 0 to 5

In [ ]:
## To print numbers from 1 to 10
for i in range(1,11):
    print(i)

In [ ]:
## We can also define the step parameter inside the range

for i in range(1,11,2):
    print(i)  # 1,3,5,7,9

for i in range(1,11,1):  # By default the step parameter is 1
    print(i)  # 1,2,3,4,5,6,7,8,9,10

In [ ]:
## We can also traverse in the reverse fashion

for i in range(10,0,-1):
    print(i)  # Will display numbers from 10 to 1

In [ ]:
## We can also traverse a string in a similar manner

str = "Nishank Koul"

for i in str:
    print(i)  # This will print the individual character of str along with space as well

In [ ]:
## while loop

## while loop continues to execute as long as the condition is true

## Let's print numbers from 0 to 5

count = 0

while(count < 6):
    print(count)
    count = count + 1

In [ ]:
## break statement

## The break statement exits the loop prematurely

## Traverse from 1 to 20 and when it hits 15, break

for i in range(1,21):
    if(i == 15):
        break
    print(i)


# The above code will print numbers from 1 to 14 and then will exit because of the break statement.

In [ ]:
## continue statement

## The continue statement skips the current iteration and continues with the next

## Traverse from 1 to 20 and skip all the even numbers

for i in range(1,21):
    if(i % 2 == 0):
        continue
    print(i)  ## This will print all the odd numbers between 1 and 20

In [ ]:
## pass statement

## The pass statement is a null operation; it does nothing.

for i in range(5):
    if(i == 3):
        pass
    print(i)  # This will print numbers normally from 0 to 4

In [ ]:
## Nested Loops

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

## Output

'''
i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
'''

In [ ]:
## Calculate the sum of first N natural numbers using a while loop

num = 10
sum = 0

i = 1

while(i <= num):
    sum += i
    i = i+1
print(f"The sum is: {sum}")

In [ ]:
## Calculate the sum of first N natural numbers using a for loop

num = 10
sum = 0

for i in range(1, num+1):
    sum += i
print(f"The sum is: {sum}")

In [ ]:
## Print the prime numbers between 1 and 100

for num in range(1, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)